body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: lighter;
  background-color: #0d1117;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

.main h1 {
  font-weight: lighter;
  padding: 20px;
  margin: 0 auto;
  color: #c9d1d9;
}

.main p {
  margin: 0 auto;
  padding: 20px;
  color: #c9d1d9;
}

.main input {
  text-align: center;
  display: block;
  width: 320px;
  height: 40px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255);
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 15px;
  color: #c9d1d9;
  background-color: #161b22;
}

.main textarea {
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 5px;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #c9d1d9;
  background-color: #161b22;
}

hr {
  border-width: 1px;
  border: 0.5px solid #cfd4da;
  width: 340px;
}

.result {
  text-align: inherit;
  display: block;
  width: 320px;
  height: 40px;
  padding: 10px;
  background: #201d16;
  border: 10px solid #0d1117;
  border-radius: 15px;
  margin: 0 auto;
  animation-duration: 1s;
  color: #e39221;
}

.main #submit-btn {
  background: rgb(41, 204, 158);
  border: none;
  width: 340px;
  height: 40px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 5px;
}

footer div {
  color: #c9d1d9;
}

.inputWrapper {
  text-align: center;
}

.heart {
  color: #EC1625;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a {
  text-decoration: none;
  color: #EC1625;
}
